.weather-now h2{
  text-align: center;
  font-size: 4rem;
  color: white;
}

.bg-day {
  background: #076585;
  background: -webkit-linear-gradient(to right, skyblue, #076585); 
  background: linear-gradient(to right, skyblue, #076585); 
}

.bg-night {
  background: #000;
  background: -webkit-linear-gradient(to right, #434343, #121212); 
  background: linear-gradient(to right, #434343, #121212); 
}

.weather-content {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.weather-content span {
  font-size: 6rem;
}

.weather-content .info {
  text-align: center;
  font-size: 1.5rem;
}