.App {
  min-height: 100vh;
  background-color: #eee;
  width: 100%;
}

.city-form {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.forecasts {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}